.header, .hero {
    width: 100%;
}

.nav__bar {
   position: absolute;
   display: grid;
   grid-template-columns: repeat(6, 1fr);
   grid-template-rows: 1fr;
   width: 70rem;
   margin-left: 12rem;
}

.nav__li {
    list-style-type: none;
    grid-row: 1/1;
}

.tulip__logo, .hero__headline {
    left: 10rem;
}

.nav__a {
    text-decoration: none;
}

.nav__a, .hero__headline {
    color: white;
}

.home {
    grid-column: 1/1;
}

.rooms__suites {
    grid-column: 2/2;
}

.hero__headline {
    color: white;
    position: absolute;
    top: 23rem;
    width: 45%;
    font-size: 4rem;
}

.tulip__logo {
   position: relative;
   bottom: 36rem;
}