.reviews {
    margin-top: 8rem;
}

.reviews__heading, .reviews__text {
    display: flex;
    justify-content: center;
}

.reviews__heading {
    color: #0083CA;
}

.reviews__grid {
    display: grid;
    grid-template-columns: repeat(3, 29.5rem);
    grid-template-rows: repeat(1, 20rem);
    margin-left: 5rem;
}

.reviews__boxes {
    width: 21.87rem;
    height: 9.87rem;
    background-color: white;
    border-radius: 1rem;
    box-shadow: 0 0 10px black;
    text-align: center;
}

.reviews__text {
    padding-top: 1.5rem;
}

.img__reviews {
    width: 3.5rem;
    height: 3.5rem;
    margin-left: 2rem;
    margin-top: 2rem;
}

.reviewers {
    margin-left: 7rem;
}

.reviews__names {
    padding-left: 0.5rem;
}

.reviews__handle {
    padding-right: 1rem;
}